.nav-menu{
	display:flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 40px;
	height: 60px;
} 
.nav-menu ul{
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	width: 650px;
}
.nav-menu h1{
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: bold;
}

.carousel-inner {
	max-height: 500px;
}

.carousel-item img {
	filter: grayscale(100%);
}

.carousel-caption {
	top: 150px;
	bottom: auto;
	margin-left: -400px;
	max-width: 750px;
	left: 50%;
}

button {
	background: #BFBFBF;
	display: block;
	text-transform: uppercase;
	color: #fff;
	width: 150px;
	border: 2px solid #fff;
	padding: 5px;
	margin: 10px auto;
}

.img-responsive {
	display: inline-block;
	height: auto;
	width: 100%;
}

.carousel-control-prev, .carousel-control-next {
	width: 5%;
	opacity: 1;
	margin: 18% 0;
	background-color: #FF4141;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
	background-color: #BFBFBF;
}

.carousel-control-prev a, .carousel-control-next a {
	background-color: #ed564b;
}

.widgets {
	width: 100%;
	background: #ed564b;
	padding: 30px 0px;
	border-top: 4px solid red;
	border-bottom: 4px solid red;
}

.homewidget {
	color: white;
	text-align: center;
	font-size: 15px;
}

.homewidget h3 {
	font-size: 25px;
	font-weight: bold;
	margin-top: 20px;
}

.icon-widgets {
	border: 5px solid #fff;
	background: transparent;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	display: block;
	line-height: 70px;
	text-align: center;
	margin: 0px auto;
}